<!DOCTYPE html>
<html>
    <head>
        <title>Add EV</title>
    </head>
    <body>
        <form action="/add-ev" method="post">
            Name: <input type="text" id="name" name="name"><br/>
            Manufacturer: <input type="text" id="manufacturer" name="manufacturer"><br/>
            Year: <input type="number" id="year" name="year"><br/>
            Battery Size (Kwh): <input type="number" id="battery_size" name="battery_size"><br/>
            WLTP Range (Km): <input type="number" id="wltp_range" name="wltp_range"><br/>
            Cost: <input type="number" id="cost" name="cost"><br/>
            Power (Kw): <input type="number" id="power_kw" name="power_kw"><br/>
            <input type="submit" value="Add EV">
        </form>
    </body>
</html>
